Ai news Summarizer.json
{
  "name": "Ai news Summirizer",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -224,
        576
      ],
      "id": "af80dbdc-b35b-4ac7-9ead-4ff8247aebca",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "QbgEcvONQ8phUHiB",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1408,
        352
      ],
      "id": "7eafb49d-825a-43fe-82a0-71dc7f527a65",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.normaltech.ai/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1184,
        160
      ],
      "id": "1f8cc784-8c62-44e4-bb96-3a1fe7425213",
      "name": "normaltech"
    },
    {
      "parameters": {
        "url": "https://aibusiness.com/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -1184,
        352
      ],
      "id": "9a9d2c2c-81ad-440c-8a78-6b4ff87d601b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -736,
        352
      ],
      "id": "86f1768a-042b-4a0e-8000-ecc1c3c2849e",
      "name": "Data Aggregater"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0] }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an AI newsletter assistant creating a daily intelligence report from multiple categories.\nUse only the provided items. Do not invent content.\nOrganize the provided items by category and Format exactly like this:\n\nHi there,\nHere's your Tech Brief:\n\nAI NEWS HIGHLIGHTS\n======================\n[5 most important AI developments]\nFor each AI-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nTECHNOLOGY UPDATES\n======================\n[Latest broader technology-related developments from major tech sources]\nFor each broader technology-related item, output:\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nUPCOMING AI EVENTS\n======================\n[List events with date, location, description]\nIf no events found: \"No AI events scheduled this week\"\n\nFor each Event Item\nHEADLINE IN ALL CAPS\nSummary in 1–2 sentences.\nLink: <paste link>\n\nKeep the summaries professional, concise, and easy to read.\n\nSign off as \"Your AI Intelligence Team\""
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -288,
        352
      ],
      "id": "1c2777ef-4ead-4e4f-8f9c-661728ad1cd1",
      "name": "Ai Summarization Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -512,
        352
      ],
      "id": "476dd6ba-aa9f-4cf3-9a07-44cf981fac19",
      "name": "Wait",
      "webhookId": "52c4bc82-e41f-48ba-ada6-8ba2c51d9ac6"
    },
    {
      "parameters": {
        "sendTo": "saicharanega0706@gmail.com",
        "subject": "Todays ai news for you (automation)",
        "emailType": "text",
        "message": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        64,
        352
      ],
      "id": "158ed485-bcec-4594-90a4-e2ef5f0487ff",
      "name": "Send a message",
      "webhookId": "245e11bf-e29b-4d48-ba5d-f13cabec8ce6",
      "credentials": {
        "gmailOAuth2": {
          "id": "0TMYomLxkVdsDYyS",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -960,
        336
      ],
      "id": "ff69dd6f-1cba-432f-a19d-52fac22de662",
      "name": "Data merger"
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_events"
            },
            {
              "name": "q",
              "value": "Events in Austin"
            },
            {
              "name": "hl",
              "value": "Ai tech events in India"
            },
            {
              "name": "gl",
              "value": "us"
            },
            {
              "name": "api_key",
              "value": "52e5ff729e3ea6f87aa5a9e7ec43de321e09d7debd7033a9e4916b66a136a2f1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1184,
        544
      ],
      "id": "bde96d17-0709-44ed-8b23-528818230255",
      "name": "fetch events"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Ai Summarization Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          },
          {
            "node": "normaltech",
            "type": "main",
            "index": 0
          },
          {
            "node": "fetch events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Data merger",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "normaltech": {
      "main": [
        [
          {
            "node": "Data merger",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Aggregater": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Ai Summarization Model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ai Summarization Model": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data merger": {
      "main": [
        [
          {
            "node": "Data Aggregater",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "fetch events": {
      "main": [
        [
          {
            "node": "Data merger",
            "type": "main",
            "index": 2
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 1
  },
  "versionId": "96365d4b-7285-4974-81bf-9792be1701a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6f66f95156ffcb9b405e0104f241779de8860d6b8b281a3c18cbaa3ac9772a7"
  },
  "id": "ltpYNJqzTF5rWgi6",
  "tags": []
}